<p-card>
    <div class="flex">
        <p-floatLabel>
            <input [(ngModel)]="taskName" pInputText>
            <label>Nom de la tâche</label>
        </p-floatLabel>
        <p-button [disabled]="!taskName" (onClick)="addTask()" severity="success">+</p-button>
    </div>
    <div class="flex">
        <app-stepper [(value)]="taskQty"></app-stepper>
    </div>
    <div class="flex">
        <p-inputSwitch [(ngModel)]="taskUrgent"></p-inputSwitch>
        <label>Urgent ?</label>
    </div>
</p-card>
<div>
  <p-dropdown [options]="listView" [(ngModel)]="nbView"></p-dropdown>
</div>
<ul>
  <li *ngFor="let t of tasks | slice : nbView">{{t.name}}</li>
</ul>

<div style="margin-top: 20px;">
    <p-table [value]="tasks | slice : nbView">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Urgent</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.name}}</td>
                <td>
                    @if(item.quantity > 0) {
                        {{item.quantity}}
                    } @else {
                        <i [ngStyle]="{ color: 'green' }"
                           class="pi pi-check"></i>
                    }
                </td>
                <td>
                    @if(item.urgent) {
                        &times;
                    }
                </td>
                <td>
                    <p-button (onClick)="remove(item)" size="small" severity="danger">&times;</p-button>
                    <p-button
                        *ngIf="item.quantity > 0"
                        (onClick)="check(item)"
                        size="small"
                        severity="success"
                        icon="pi pi-check"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
            <!-- @for (item of tasks; track $index) {
                <li [ngClass]="{ red: item.urgent }">{{item.name}}</li>
            } -->
</div>
