<nav>
    <ul>
        <li routerLinkActive="active"><a routerLink="/duree">Durée</a></li>
        <li routerLinkActive="active"><a routerLink="/todo">Todo List</a></li>
        <li routerLinkActive="active"><a routerLink="/form">Formulaire</a></li>
        <li routerLinkActive="active"><a routerLink="/movie">Gestion Film</a></li>
        <li routerLinkActive="active"><a routerLink="/calendar">Calendrier</a></li>
        <li routerLinkActive="active"><a routerLink="/meteo">
            <i class="pi pi-cloud"></i>
        </a></li>
        <li routerLinkActive="active"><a routerLink="/marvel/characters">Personnages</a></li>
        <li routerLinkActive="active"><a routerLink="/product">Produits</a></li>
        <li routerLinkActive="active"><a routerLink="/demoChart">Demo Graphique</a></li>
    </ul>
</nav>
