<div class="content">
  <div style="min-width: 30%;">
    <p-card>
      <ng-template pTemplate="header">
        <h3>Liste des films</h3>
      </ng-template>
      <ng-template pTemplate="body">
        <p-table [value]="listMovie">
          <ng-template pTemplate="header">
            <tr>
              <th>Titre</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-movie>
            <tr>
              <td>{{movie.titre}}</td>
              <td><p-button size="small" severity="info" [rounded]="true" (click)="selectMovie(movie)">Détails</p-button></td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-card>
  </div>
  <div style="min-width: 30%;">
    <app-createmovie  (newMovieAdd)="getNewMovieFromForm($event)"></app-createmovie>
  </div>
  <div style="min-width: 30%;">
    <app-detailmovie [currentMovie]="selectedMovie" *ngIf="selectedMovie"></app-detailmovie>
  </div>
</div>
